<h2>{{prueba}}</h2>

 {{#each comentarios}}
 <p> Comentario de <b>{{nombre}}</b></p>
 <p>Comentario:{{comentario}} </p>
 <p>La valoracion de este comentario es:{{valoracion}} </p>
 <p class="text-center"><button type="button" id="deleteComment" class="btn btn-primary deleteComment" data-id="{{idcomentario}}">Borrar Comentario</button> </p>
{{/each}}
